@page "/appointments/add"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<h3>Add Appointment</h3>

<EditForm Model="@appointment" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Patient:</label>
        <select @bind="appointment.PatientId">
            <option value="">Select Patient</option>
            @foreach (var p in patients)
            {
                <option value="@p.Id">@p.FullName</option>
            }
        </select>
    </div>

    <div>
        <label>Doctor:</label>
        <select @bind="appointment.DoctorId">
            <option value="">Select Doctor</option>
            @foreach (var d in doctors)
            {
                <option value="@d.Id">@d.FullName</option>
            }
        </select>
    </div>

    <div>
        <label>Date:</label>
        <InputDate @bind-Value="appointment.Date" />
    </div>

    <div>
        <label>Status:</label>
        <InputText @bind-Value="appointment.Status" />
    </div>

    <button type="submit">Add</button>
    <button type="button" @onclick="Cancel">Cancel</button>
</EditForm>